*.DS_Store
*.bak
./astroscheduller/__pycache__
./AstroSchedullerGo_for_Python.egg-info
./build
./.CodeCounter
./.VSCodeCounter
./
.VSCodeCounter
.VSCodeCounter/2022-03-30_16-54-00/details.md
.VSCodeCounter/2022-03-30_16-54-00/diff-details.md
.VSCodeCounter/2022-03-30_16-54-00/diff.csv
.VSCodeCounter/2022-03-30_16-54-00/diff.md
.VSCodeCounter/2022-03-30_16-54-00/results.csv
.VSCodeCounter/2022-03-30_16-54-00/diff.txt
.VSCodeCounter/2022-03-30_16-54-00/results.txt
.VSCodeCounter/2022-03-30_16-54-00/results.md
.VSCodeCounter/2022-03-30_16-54-00/results.json
astroscheduller/ashlib/*
astroscheduller/__pycache__/
astroscheduller/__pycache__/__init__.cpython-38.pyc
astroscheduller/__pycache__/config.cpython-38.pyc
astroscheduller/__pycache__/core.cpython-38.pyc
astroscheduller/__pycache__/plot.cpython-38.pyc
astroscheduller/__pycache__/schedule.cpython-38.pyc
astroscheduller/__pycache__/schedule_edit.cpython-38.pyc
astroscheduller/__pycache__/schedule_io.cpython-38.pyc
astroscheduller/__pycache__/scheduller.cpython-38.pyc
astroscheduller/__pycache__/stats.cpython-38.pyc
astroscheduller/__pycache__/utilities.cpython-38.pyc
AstroScheduller.egg-info/dependency_links.txt
AstroScheduller.egg-info/PKG-INFO
AstroScheduller.egg-info/requires.txt
AstroScheduller.egg-info/SOURCES.txt
AstroScheduller.egg-info/top_level.txt
build/lib/astroscheduller/__init__.py
build/lib/astroscheduller/config.py
build/lib/astroscheduller/core.py
build/lib/astroscheduller/example.py
build/lib/astroscheduller/io.py
build/lib/astroscheduller/plot.py
build/lib/astroscheduller/schedule.py
build/lib/astroscheduller/schedule_edit.py
build/lib/astroscheduller/scheduller.py
build/lib/astroscheduller/stats.py
build/lib/astroscheduller/utilities.py
dist/AstroScheduller-0.9.3-py3.8.egg
