*.DS_Store
./py_scheduller/__pycache__
./AstroSchedullerGo_for_Python.egg-info
./build
./.CodeCounter
./.VSCodeCounter
./
.VSCodeCounter
.VSCodeCounter/2022-03-30_16-54-00/details.md
.VSCodeCounter/2022-03-30_16-54-00/diff-details.md
.VSCodeCounter/2022-03-30_16-54-00/diff.csv
.VSCodeCounter/2022-03-30_16-54-00/diff.md
.VSCodeCounter/2022-03-30_16-54-00/results.csv
.VSCodeCounter/2022-03-30_16-54-00/diff.txt
.VSCodeCounter/2022-03-30_16-54-00/results.txt
.VSCodeCounter/2022-03-30_16-54-00/results.md
.VSCodeCounter/2022-03-30_16-54-00/results.json
