{
    "*": {
        "darwin/amd64": {
            "url": "https://raw.githubusercontent.com/xiawenke/AstroSchedullerGo/Dev/releases_latest/_scheduller_darwin_amd64.so", 
            "md5": "6f7ff33c7d2e94c5f6cac65ddef8e60d"
        }, 
        "linux/amd64": {
            "url": "https://raw.githubusercontent.com/xiawenke/AstroSchedullerGo/Dev/releases_latest/_scheduller_linux_amd64.so", 
            "md5": "f816a0e6e4409563cff437cdad09f169"
        }, 
        "windows/amd64": {
            "url": "https://raw.githubusercontent.com/xiawenke/AstroSchedullerGo/Dev/releases_latest/_scheduller_windows_amd64.dll", 
            "md5": "f53bb17a35adbba1c2508f1d1a055105"
        }
    }
} 