{
    "*": {
        "darwin/amd64": {
            "filename": "_scheduller_darwin_amd64.so",
            "url": "https://raw.githubusercontent.com/xiawenke/AstroScheduller/Dev/releases_latest/_scheduller_darwin_amd64.so",
            "md5": "e403798bae820229c82927de09b2715a"
        },
        "linux/amd64": {
            "filename": "_scheduller_linux_amd64.so",
            "url": "https://raw.githubusercontent.com/xiawenke/AstroScheduller/Dev/releases_latest/_scheduller_linux_amd64.so",
            "md5": "44a7b78e4ef27a6769d02bbad40cb30e"
        },
        "windows/amd64": {
            "filename": "_scheduller_windows_amd64.dll",
            "url": "https://raw.githubusercontent.com/xiawenke/AstroScheduller/Dev/releases_latest/_scheduller_windows_amd64.dll",
            "md5": "43655b1c5573bf0aca418173ecb64b8a"
        }
    }
}