{
    "*": {
        "darwin": {
            "url": "https://raw.githubusercontent.com/xiawenke/AstroSchedullerGo/Dev/releases_latest/_scheduller_darwin_amd64.so", 
            "md5": "9b3c783f923f002ed663f408f41e4307"
        }, 
        "linux": {
            "url": "https://raw.githubusercontent.com/xiawenke/AstroSchedullerGo/Dev/releases_latest/_scheduller_linux_amd64.so", 
            "md5": "2f67f166c674681125a9cfa93f8bc616"
        }, 
        "windows": {
            "url": "https://raw.githubusercontent.com/xiawenke/AstroSchedullerGo/Dev/releases_latest/_scheduller_windows_amd64.dll", 
            "md5": "b297ca20ed29921e9bd4b5bea590b26f"
        }
    }
} 